.bg-dark-blue {
    background-color: #0b1c2d; /* Deep Dark Blue color */
}

.text-light-gray {
    color: #ced4da;
}

.quick-links li {
    margin-bottom: 0.5rem;
}

.quick-links a {
    transition: color 0.2s ease-in-out;
}

.quick-links a:hover {
    text-decoration: underline !important;
    color: #8bb3e7 !important; /* Lighter shade on hover */
}

.quick-links{
  text-align: left;
  margin-left: 130px;
}

.social-btn {
    transition: transform 0.2s ease-in-out, background-color 0.2s;
}

.social-btn:hover {
    transform: translateY(-3px);
    background-color: rgba(255, 255, 255, 0.1) !important;
}
